@import "../vars";

.postDetails {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid transparentize($color: $main-color, $amount: 0.7);
  border-bottom: 1px solid transparentize($color: $main-color, $amount: 0.7);

  &__categories {
    position: relative;
    padding-right: 20px;
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__category {
    margin: 0 5px;
    font-size: 14px;
    color: lighten($color: $main-color, $amount: 30%);
  }

  &__author {
    padding-right: 20px;
    font-size: 14px;
    color: lighten($color: $main-color, $amount: 30%);
  }

  &__date {
    margin-top: 2px;
    font-size: 14px;
    line-height: 19px;
    color: lighten($color: $main-color, $amount: 30%);
  }

  &__icon {
    margin-right: 5px;
    color: $main-color;
  }
}
