@import "../vars";

.sideBar {
  position: relative;
  align-self: flex-start;
  width: 390px;
  padding: 20px;
  background: url("../../assets/images/sideBar-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  color: $light;
  z-index: 2;

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    background: transparentize($color: $accent-color, $amount: 0.2);
    z-index: -1;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

    &-title {
      align-self: stretch;
      margin: 0 0 20px;
      padding: 15px 0;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 4px;
    }

    p {
      font-size: 15px;
      line-height: 1.5;
    }
  }

  &__categories {
    align-self: start;
    margin: 0 0 15px 0px;
    padding: 0;
    list-style: none;

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      font-size: 15px;
      color: $light;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:last-child {
        margin-bottom: 0;
      }
      &-icon {
        margin-right: 10px;
      }
    }
  }

  &__socials {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    &-item {
      margin: 5px 10px;
    }

    a {
      svg {
        color: $light;
        font-size: 2rem;

        &:hover {
          color: lighten($main-color, 20%);
        }
      }
    }
  }
}
