@import "../vars";

.singlePost {
  width: 680px;

  &__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-right: 10px;
    color: $main-color;
    &:last-child {
      margin: 0;
    }
  }
}
