@import "./globals";
@import "./container";
@import "./components/nav";
@import "./components/banner";
@import "./components/posts";
@import "./components/postItem";
@import "./components/postDetails";
@import "./components/sideBar";
@import "./components/home";
@import "./components/single";
@import "./components/singlePost";
@import "./components/write";
